.pk-toggle {
    width: @item-width-inline;
    cursor: pointer;
    height: @item-height-slim;
    border: 1px solid @color-border;
    background: @color-unselected;
    border-radius: 4px;
    line-height: @item-height-slim;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.pk-toggle input {
    display: none;
}

.pk-toggle input:checked + .pk-toggle-indicator {
    left: 50%;
}

.pk-toggle input:checked ~ .pk-toggle-off {
    color: @color-disabled;
}

.pk-toggle input ~ .pk-toggle-on {
    color: @color-disabled;
}

.pk-toggle input:checked ~ .pk-toggle-on {
    color: @color-empty;
}

.pk-toggle .pk-toggle-indicator {
    position: absolute;
    border-radius: 4px;
    left: 2px;
    top: 2px;
    background: @color-selected;
    width: 50%;
    height: 20px;
    transition: left 200ms ease-in;
}

.pk-toggle.pk-disabled .pk-toggle-indicator {
    background: @color-disabled;
}

.pk-toggle span {
    width: 50%;
    text-transform: uppercase;
    display: block;
    box-sizing: border-box;
    float: left;
    color: @color-empty;
    position: relative;
    text-align: center;
    transition: color 100ms ease-in;
}
