.pk-slider {
    display: inline-block;
    height: @item-height-slim;
    line-height: @item-height-slim;
    position: relative;
    border: 1px solid @color-border;
    width: @item-width-inline;
    box-sizing: border-box;
    background: @color-unselected;
}

.pk-slider:focus, .pk-slider:active {
    outline: none;
}

.pk-slider-y {
    width: @item-height-slim;
    height: @item-width-inline;
}

.pk-slider-mask, .pk-slider-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: right;
}

.pk-slider-bar {
    width: 0;
    background: @color-selected;
    white-space: nowrap;
}

.pk-disabled .pk-slider-bar {
    background: @color-disabled;
}

.pk-slider-y .pk-slider-mask, .pk-slider-y .pk-slider-bar {
    top: auto;
    bottom: 0;
}

.pk-slider-y .pk-slider-bar {
    height: 0;
    width: 100%;
}

.pk-slider-value {
    display: inline;
}

.pk-slider-units {
    display: inline-block;
    padding: 0 2px;
    font-size: 0.5em;
    text-transform: uppercase;
}
