.pk-slider {
    display: inline-block;
    height: @item-height*0.85;
    line-height: @item-height*0.85;
    position: relative;
    border: 1px solid darken(@color-background, 10%);
    width: @item-width;
    box-sizing: border-box;
    background: darken(@color-background, 2%);
	border-radius:@item-rounding;
	color:@color-background;
	
}

.pk-slider:focus, .pk-slider:active {
    outline: none;
}

.pk-slider-y {
    width: @item-height*0.85;
    height: @item-width;
}

.pk-slider-mask, .pk-slider-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: right;
}

.pk-slider-bar {
    width: 0;
    background: @color-highlight;
    white-space: nowrap;
	border-radius:@item-rounding;	
}

.pk-disabled .pk-slider-bar {
    background: darken(@color-background, 30%);
}

.pk-slider-y .pk-slider-mask, .pk-slider-y .pk-slider-bar {
    top: auto;
    bottom: 0;
}

.pk-slider-y .pk-slider-bar {
    height: 0;
    width: 100%;
	text-align: center;
}

.pk-slider-value {
    display: inline;
}
.pk-slider-x .pk-slider-bar .pk-slider-units{
	padding-right:2px;
}
.pk-slider-units {
    display: inline-block;   
    font-size: 0.8em;
    text-transform: uppercase;
}
