.pk-slider{
    display:inline-block;
    height:30px;
    line-height:30px;
    position:relative;
    border:1px solid #e5e5e5;
    width:200px;
    box-sizing:border-box;    
    background:#f5f5f5;
}
.pk-slider:focus, .pk-slider:active{
    outline:none;
}
.pk-slider-y{
    width:30px;
    height:200px;
}
.pk-slider input{
    display:none;
}
.pk-slider-mask, .pk-slider-bar{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    text-align:right;
}
.pk-slider-bar{
    width:0;    
    background:#0CC09F;
    white-space: nowrap;
}
.pk-disabled .pk-slider-bar{
    background:#c4c4c4;
}
.pk-slider-y .pk-slider-mask, .pk-slider-y .pk-slider-bar{
    top:auto;
    bottom:0;
}
.pk-slider-y .pk-slider-bar{
    height:0;
    width:100%;
}
.pk-slider-value{
    display:inline;
}
.pk-slider-units{
    display:inline-block;
    padding:0 2px;
    font-size:0.5em;
    text-transform:uppercase;
}
