@import "../core/core.less";
.pk-datepicker{
	border:1px solid @color-highlight;
	position:relative;
	overflow:hidden;
	display:inline-block;
	background:@color-highlight;
	width:@item-width;
	.pk-noselect;
	.pk-datepicker-meta{
		float: left;
		position: relative;
		top: 23px;
		left: 10px;
		color:lighten(@color-highlight, 25%);
	}
	.pk-datepicker-year{
		text-align:right;
		font-size:2em;
		margin:20px 5px 10px 5px;
		color:@color-background;
		font-weight:100;
	}

	.pk-datepicker-years{		
		display:none;
		width:100%;
		color:lighten(@color-highlight, 40%);
		background:@color-highlight;
		position:absolute;
		top:50px;
		overflow:hidden;
		left:0;
		bottom:0;
		td{
			text-align:center;
		}
	}
	.pk-datepicker-month{
		padding:2px 0 0 0;
		margin:0 5px;
		list-style:none;
		color:@color-background;
		li{
			width:8.33%;
			display:inline-block;
			font-size:.7em;
			box-sizing:border-box;
			padding:0;
			text-align:center;
			cursor:default;
			position:relative;	
			transition:background 80ms ease-in;
			&:after{
				content:'';
				position:absolute;
				width:100%;
				left:0;
				text-align:center;
				top:calc(~"100% - 7px");
				font-size:2em;
			}
			&:hover{
				color:@color-background;
				background:lighten(@color-highlight, 50%);
			}
			&.selected{
				color:@color-highlight;
				background:@color-background;
			}
		}
	}
	.pk-datepicker-day{
		background:@color-background;
		border-collapse:collapse;	
		box-sizing:border-box;
		width:100%;
		tr:first-of-type{
			th{
				padding-top:10px;
				&:first-of-type{
					padding-left:5px;
				}
				&:last-of-type{
					padding-right:5px;
				}
			}
		}
		tr:last-of-type td{
		//	padding-bottom:10px;
		}
		th{
			font-weight:500;
			font-size:.8em;
			color:@color-foreground;
			text-transform:uppercase;
			color:@color-highlight;
			width:@item-height*.8;		
			text-align:center;	
		}
		td{
			line-height:@item-height*.8;
			font-size:.9em;
			text-align:center;
			cursor:default;
			position:relative;
			font-weight:400;
			transition:all 50ms ease-in;
			&:hover{
				background:lighten(@color-prominent, 50%);
				color:@color-highlight;
			}
			&.selected{
				background:@color-prominent;
				color:@color-background;			
			}
			&.pk-prev, &.pk-next{
				color:darken(@color-background, 20%);
				&:hover{
					background:lighten(@color-highlight, 70%);					
					color:@color-highlight;
				}
			}
		}
	}
}
