.pk-modal-mask {
    background: rgba(0, 0, 0, 0.3);
    /* browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4cffffff', endColorstr='#4cffffff');
    /* IE */
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 998;
    transition: opacity 100ms ease-in;
	&.pk-show {
	    opacity: 1;
	}
}

.pk-modal-box {
    border: 1px solid @color-selected;
    background: white;
    display: block;
    width: 40%;
    max-width: 600px;
    position: relative;
    min-width: 400px;
	margin-top: -20%;
	opacity:0;
	transition: all 200ms ease-in;
}
.pk-modal-mask.pk-show .pk-modal-box{
	opacity:1;
	margin-top: 0;
}

.pk-modal-header {
    background: @color-selected;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    line-height: @item-height-large;
}

.pk-modal-header, .pk-modal-content {
    padding: 0 @padding-content;
    margin: 0;
    text-align: left;
    position: relative;
    box-sizing: border-box;
}

.pk-modal-close {
    display: inline-block;
    position: absolute;
    width: @item-height-normal;
    height: @item-height-normal;
    line-height: @item-height-normal;
    font-size: @item-height-normal;
    right: @padding-content;
    top: 6px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
	&:after {
	    content: '\00d7';
	}
}

.pk-modal-content {
    padding-top: @padding-content;
    padding-bottom: @padding-content;
}
