.pk-modal-mask {
    background: rgba(0, 0, 0, 0.3);
    /* browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4cffffff', endColorstr='#4cffffff');
    /* IE */
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 998;
    transition: opacity 300ms ease-in;
	&.pk-show {
	    opacity: 1;
	}
	&.pk-hide {
	    opacity: 0;
	}
}

.pk-modal-box {
    border: 1px solid #2faf98;
    background: white;
    display: block;
    width: 40%;
    max-width: 600px;
    position: relative;
    min-width: 400px;
}

.pk-modal-header {
    background: #2faf98;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 40px;
}

.pk-modal-header, .pk-modal-content {
    padding: 0 10px;
    margin: 0;
    text-align: left;
    position: relative;
    box-sizing: border-box;
}

.pk-modal-close {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    right: 10px;
    top: 6px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
	&:after {
	    content: '\00d7';
	}
}

.pk-modal-content {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
