.pk-tooltip{
	position:absolute;
	z-index:999;
	background:@color-foreground;
	color:@color-background;
	font-size:.9em;
	box-sizing:border-box;
	opacity:0;
	transition:opacity 200ms ease-in, margin 100ms ease-in;
	&:before{
		content:'';
		position:absolute;
		width: 0;
		height: 0;
		border-style: solid;
	}	
	&.pk-top{
		margin:-1 * (@item-height) 0 0 0;
		&:before{
			border-width: 7px 7px 0 7px;
			border-color: @color-foreground transparent transparent transparent;
			bottom:-7px;
			left:7px;		
		}
	}
	&.pk-right{
		margin:-3.5px 0 0 @item-height;
		&:before{	
			border-width: 7px 7px 7px 0;
			border-color: transparent @color-foreground transparent transparent;
			top:7px;
			left:-7px;
		}
	}
	&.pk-bottom{
		margin:@item-height 0 0 0;
		&:before{
			border-width: 0 7px 7px 7px;
			border-color: transparent transparent @color-foreground transparent;
			top:-7px;
			left:7px;		
		}
	}	
	&.pk-left{
		margin:-3.5px 0 0 -1*(@item-height*2); 
		&:before{
			border-width: 7px 0 7px 7px;
			border-color: transparent transparent transparent @color-foreground;
			top:7px;
			right:-7px;
		}
	}
	&.pk-show{
		opacity:1;
		padding:@item-height/8 @item-height/4;		
		&.pk-top{		
			margin:-1 * (@item-height/2) 0 0 0;
		}		
		&.pk-right{		
			margin:-3.5px 0 0 @item-height/2;
		}		
		&.pk-bottom{		
			margin:@item-height/2 0 0 0;
		}		
		&.pk-left{		
			margin:-3.5px 0 0 -1*(@item-height); 
		}
	}
}
