.pk-ui{
	::-webkit-input-placeholder { /* WebKit browsers */
		color: darken(@color-background, 30%);
		font-style: italic;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: darken(@color-background, 30%);
		font-style: italic;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: darken(@color-background, 30%);
		font-style: italic;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: darken(@color-background, 30%);
		font-style: italic;
	}
	input, textarea{
		border:1px solid darken(@color-background, 30%);
		height:@item-height;
		line-height:@item-height;
		padding:0 @item-height/3;
		box-sizing:border-box;
		width:@item-width;
		font-family:'PT Sans Narrow';
		font-size:@font-size;
		resize:none;
		transition:all 200ms ease-in;
		&:focus, &:hover:focus{
			outline:none;
			border-color:@color-highlight;
		}
		&:hover{
			border-color:@color-highlight;
		}
	}
	textarea{
		height:@item-width/2;
	}
	a{
		color:darken(@color-highlight, 5%);
		text-decoration:none;
		display:inline-block;
		position:relative;
	}
	a:after{
		position:absolute;
		content:'';
		border-top:1px solid darken(@color-highlight, 5%);
		width:0;
		left:50%;
		top:100%;
		transition:all 100ms ease-in;
	}
	a:hover:after{
		width:100%;
		left:0;
	}

	button{
		background:@color-highlight;
		color:@color-background;
		display:inline-block;
		padding:0 @item-height/3;
		cursor:pointer;
		transition:all 100ms ease-in;
		height:@item-height;
		border:none;
		border-radius:@item-rounding;
		line-height:@item-height;
		position:relative;
		&:focus, &:active{
			outline:none;
		}	
		&:active{
			background:darken(@color-highlight, 10%);
			box-shadow: inset 10px 10px 15px 0 #0e7260;
		}
		&:hover{
			background:darken(@color-highlight, 10%);
		}	
	}
	
}
h1, h2, h3, h4, h5, h6{
	font-weight:lighter;
	color:@color-foreground;
}
