.pk-rating > fieldset {
     float:left;
     border:none;
 }
 .pk-rating > fieldset:not(:checked) > input {
     display:none;
 }
 .pk-rating > fieldset:not(:checked) > label {
     float:right;
     width:1em;
     padding:0 .1em;
     overflow:hidden;
     white-space:nowrap;
     cursor:pointer;
     font-size:200%;
     line-height:1.2;
     color:#f5f5f5;
     transition:color 100ms ease-in;
 }
 .pk-rating > fieldset:not(:checked) > label:before {
     content:'★';
 }
 .pk-rating > fieldset > input:checked ~ label {
     color: #0CC09F;
 }
 .pk-rating > fieldset:not(:checked) > label:hover, .pk-rating > fieldset:not(:checked) > label:hover ~ label {
     color: #cbefe9;
 }
 .pk-rating > fieldset > input:checked + label:hover, .pk-rating > fieldset > input:checked + label:hover ~ label, .pk-rating > fieldset > input:checked ~ label:hover, .pk-rating > fieldset > input:checked ~ label:hover ~ label, .pk-rating > fieldset > label:hover ~ input:checked ~ label {
     color: #47e5c8;
 }

.pk-rating.pk-disabled > fieldset:not(:checked) > label:hover, .pk-rating.pk-disabled > fieldset:not(:checked) > label:hover ~ label {
     color: #f5f5f5;
 }
 .pk-rating.pk-disabled > fieldset > input:checked + label:hover, .pk-rating.pk-disabled > fieldset > input:checked + label:hover ~ label, .pk-rating.pk-disabled > fieldset > input:checked ~ label:hover, .pk-rating.pk-disabled > fieldset > input:checked ~ label:hover ~ label, .pk-rating.pk-disabled > fieldset > label:hover ~ input:checked ~ label {
     color: #0CC09F;
 }

 .pk-rating > fieldset > label:active {
     position:relative;
 }
