
.pk-rating {
	fieldset {
		float: left;
		border: none;
		padding:0;
		margin:0;
	}
	input{
		display: none;
		&:checked{
			& ~ label {
				color: @color-highlight;
				transform:scale(0.8);
			}
		}
	}
	label {
		float: right;
		width: 1em;
		padding: 0 .1em;
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		font-size: 200%;
		line-height: 1.2;
		color: darken(@color-background, 10%);
		transition: all 100ms ease-in;
		transform:scale(0.6);
		&:before{
			content: '★';
		}		
		&:active{
		    position: relative;
		}
	}
	&.pk-disabled{
		label, label ~ label {
			color: darken(@color-background, 20%);
		}
		input:checked + label,
		input:checked + label ~ label,
		input:checked ~ label,
		input:checked ~ label ~ label,
		label ~ input:checked ~ label{
			color: darken(@color-background, 40%);
		}
	}
	&:not(.pk-disabled){
		input{
			&:checked{
				& + label:hover,
				& + label:hover ~ label,
				& ~ label:hover,
				& ~ label:hover ~ label{
					color: lighten(@color-highlight, 5%);
					transform:scale(1);
				}
			}
		}
		
		label{
			&:hover, &:hover ~ label {
				color: darken(@color-background, 20%);
			}
			&:hover ~ input:checked ~ label {
				color: lighten(@color-highlight, 5%);
				transform:scale(1);
			}
		}
	}
}

.pk-stages {
	fieldset {
		float: left;
		border: none;
		width:50%;
		padding:0;
		margin:0;
		position:relative;
	}
	input{
		display: none;
		&:checked{
			& ~ label:before {		
				background:  @color-highlight;
				color:@color-background;
				padding:0;
			}
			& ~ label:after {
				border-top-color:@color-highlight;
			}			
		}
	}
	label {
		float: right;
		white-space: nowrap;
		box-sizing:border-box;
		cursor: pointer;
		font-size: 200%;
		line-height: 1.2;
		position:relative;
		display:inline-block;
		color: darken(@color-background, 10%);
		transition: all 100ms ease-in;
		&:before{
			content: attr(data-label);
			position:relative;
			width:@item-height;
			height:@item-height;
			background:darken(@color-background, 5%);
			font-size:.7em;
			color:darken(@color-background, 50%);
			border-radius:100%;
			display:inline-block;
			text-align:center;
			line-height:@item-height;
			transition: all 100ms ease-in;
		}	
		:not(:last-of-type)&:after{
			content:'';
			width:calc(~"100% - " @item-height);
			position:absolute;
			right:98%;
			border-top:2px dotted darken(@color-background, 15%);
			top:@item-height/1.8;
			transition: all 100ms ease-in;
		}			
		&:active{
		    position: relative;
		}
	}
	&.pk-disabled{
		label:before, label ~ label:before {
			background: darken(@color-background, 20%);
		}
		input:checked + label,
		input:checked + label ~ label,
		input:checked ~ label,
		input:checked ~ label ~ label,
		label ~ input:checked ~ label:before{
			background: darken(@color-background, 40%);
		}
	}
	&:not(.pk-disabled){
		input{
			&:checked{
				& + label:hover:before,
				& + label:hover ~ label:before,
				& ~ label:hover:before,
				& ~ label:hover ~ label:before{
					background:darken(@color-background, 20%);
					color:red;
				}
				& + label:hover:after,
				& + label:hover ~ label:after,
				& ~ label:hover:after,
				& ~ label:hover ~ label:after{	
					border-top-color:@color-highlight;
				}
				
			}
		}		
		label{
			&:hover:before, &:hover ~ label:before {
				background:darken(@color-background, 20%);
					color:red;
			}
			&:hover:after, &:hover ~ label:after {
				border-top-color:@color-highlight;
			}			
			&:hover ~ input:checked ~ label:before {
			//	background: @color-highlight;
			//		color:red;
			}
		}
	}
}
