.pk-carousel{
    position:relative;
    height:400px;
    text-align:center;
	&:focus, &:active{
		outline:none;
	}
	ul, li{
		list-style:none;
		position:relative;    
		margin:0;
		padding:0;
		height:100%;
		width:100%;
		max-width:100%;
	}
	ul{    
		white-space: nowrap;
		text-align:left;
		overflow:hidden;
	}
	li{
		display:inline-block;
		position:absolute;
		top:0; 
		opacity:0;
		transition:all 300ms ease-in;
		text-align:center;
		&.pk-selected{  
			opacity:1;
		}
	}
	
	
	.pk-nav-prev, .pk-nav-next{
		position:absolute;
		left:0;
		top:50%;   
		color:white;
		transition: all 100ms ease-in;
		cursor:pointer;    
		transform: scale(0.6);
		&:after{
			content:'<';
			position:absolute;    
			font-weight:bold;
			top:calc(-.7em);
			font-size:5em;
		}
		&:hover{    
			transform: scale(0.8);
		}
	}
	 .pk-nav-next{
		left:auto;
		right:0;
		&:after{
			content:'>';
			right:0;
		}
	 }
	 
	 .pk-nav-item{
		cursor:pointer;
		display:inline-block;
		position:relative;
		top:-30px;
		height:30px;
		width:30px;
		text-align:center;
		&.pk-selected:after{
			transform: scale(1);
			opacity:1;
		}
		&:after{
			content:'';
			margin-top:5px;
			display:inline-block;
			border-radius:100%;
			width: 15px;
			height: 15px;
			opacity:0.65;
			background:white;    
			transform: scale(0.6);
			transition:all 100ms ease-in;
		}
		&:not(.pk-selected):hover:after{
			transform: scale(0.8);
			opacity:1;
		}
	}
}
