.pk-carousel{
    position:relative;
    height:400px;
    text-align:center;
	overflow:hidden;
	&:focus, &:active{
		outline:none;
	}
	ul, li{
		list-style:none;
		position:relative;    
		margin:0;
		padding:0;
		height:100%;
		width:100%;
		max-width:100%;
	}
	ul{    
		white-space: nowrap;
		text-align:left;
		overflow:hidden;
	}
	li{
		display:inline-block;
		position:absolute;
		top:0; 
		z-index:0;		
		// transform:scale(0.8);
		transition:all 500ms ease-in;
		text-align:center;
		opacity:0;
		&.pk-selected{  
			z-index:2;
			// transform:scale(1);
			opacity:1;
		}
		
	}
	.pk-carousel-out{		
		z-index:1;
	}
	.pk-carousel-in-right{
		// left:100%;
		animation-duration: 1s;
		animation-delay:100ms;
		// animation-name: carousel-in-right;
		animation-iteration-count: 1;
		animation-fill-mode:forwards;
	}
	@keyframes carousel-in-right {
		from {left:100%;}
		to {left:0;}
	}
	.pk-carousel-in-left{
		// right:100%;
		animation-duration: 1s;
		animation-delay:100ms;
		// animation-name: carousel-in-left;
		animation-iteration-count: 1;
		animation-fill-mode:forwards;
	}
	@keyframes carousel-in-left {
		from {right:100%;}
		to {right:0;}
	}	
	.pk-nav-prev, .pk-nav-next{
		z-index:4;
		position:absolute;
		left:-40px;
		top:calc(~"50% - 25px");   
		color:fade(@color-background, 50%);		
		cursor:pointer;    		
		width:40px;
		height:50px;
		line-height:50px;
		text-align:center;
		border-radius:100%;
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		background:fade(@color-foreground, 5%);
		transition: all 100ms ease-in;
		&:after{
			content:'<';
			position:absolute;    
			font-weight:bold;
			top:0;
			font-size:3em;
			left:10px;
		}
		&:hover{    
			background:fade(@color-foreground, 15%);
		}
	}
	 .pk-nav-next{
		left:auto;
		right:-40px;
		border-radius:100%;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
		&:after{
			content:'>';
			right:10px;
		}
	 }
	 
	 .pk-nav-item{
		z-index:4;
		cursor:pointer;
		display:inline-block;
		position:relative;
		top:-30px;
		height:25px;
		width:30px;		
		background:fade(@color-foreground, 5%);
		text-align:center;
		&.pk-selected:after{
			transform: scale(1);
			opacity:1;
		}
		&:after{
			content:'';
			margin-top:5px;
			display:inline-block;
			border-radius:100%;
			width: 15px;
			height: 15px;
			opacity:0.65;
			background:white;    
			transform: scale(0.6);
			transition:all 100ms ease-in;
		}
		&:not(.pk-selected):hover:after{
			transform: scale(0.8);
			opacity:1;
		}
		&:nth-of-type(1){
			border-top-left-radius:100px;
		}
	}
	&:hover{
		.pk-nav-prev{
			left:0;
		}
		.pk-nav-next{
			right:0;
		}
	}
	span:nth-of-type(3){
		border-top-left-radius:10px;
		border-bottom-left-radius:10px;
	}
	span:last-of-type{
		border-top-right-radius:10px;
		border-bottom-right-radius:10px;
	}
}
