@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);

body{
  font-size:13px;
  line-height:1.5em;
  color:rgb(86, 96, 118);
}
body,h1, h2, h3, h4, h5, h6{
  font-family:Raleway, Arial, Tahoma;  
}
h1, h2, h3, h4, h5, h6{
  font-weight:400;
  color: #000;
}
.api-list-item.class{
  padding:2px 0;
}
.api-list-item a:hover,
.api-list-item a:focus,
.apis a:hover,
.apis a:focus{
  font-weight:normal;
}
input[type=checkbox]{
  margin: 0;
  vertical-align: text-top;
}

:focus, :active{
  outline:none; 
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: #d6d6d6;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #d6d6d6;
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #d6d6d6;
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #d6d6d6;
  font-style: italic;
} 
#hd{
  display:none;
}


code.param-name:not(.optional) + .type:after{
  display:inline;
  content: '\f06a\0020required';
  font-family: FontAwesome, Raleway, Arial, Tahoma;
  background: #60a5ff;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  margin: 0 0.5em;
  padding: 3px 4px 2px;
}
.yui3-skin-sam .yui3-tabview-list{
  border-bottom: solid hsl(169, 88%, 40%)!important;
}
.yui3-skin-sam .yui3-tab-selected .yui3-tab-label{
  border-color: hsl(169, 88%, 40%)!important;
  border: solid hsl(169, 88%, 40%)!important;
}
.yui3-skin-sam .yui3-tab-selected{
  margin-bottom:0!important;
}
.yui3-skin-sam .yui3-tab-selected .yui3-tab-label, .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:focus, .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:hover{
background: hsl(169, 88%, 40%)!important;
  border: solid hsl(169, 88%, 40%)!important;
}
.yui3-skin-sam .yui3-tab-label{
  background: #F2F2F2!important;
  border: solid #F2F2F2!important;
  transition:background 200ms ease-in, border 200ms ease-in;
}
.yui3-skin-sam .yui3-tab-label:hover, .yui3-skin-sam .yui3-tab-label:focus{
  color:hsl(169, 88%, 40%);
  background: #F2F2F2!important;
  border: solid #F2F2F2!important;
}
.apis a {
  font-size: 0.96em;
  padding: 4px 4px;
}
.apis a:hover, .apis a:focus {
  background: hsl(169, 91%, 40%);
  background: -moz-linear-gradient(top, #e8edfc 0%, #becef7 100%);
  border-color: hsl(169, 88%, 40%);
  border-radius: 0;
  color: #fff;
  outline: none;
}
#classdocs .item{
  border-bottom-color:#a9d1c9;
}
a{
color: hsl(169, 88%, 30%);
}
#api-list > h2{
  position:relative;
  width:0;
  color:#fff;
  margin: 10px 0 20px;
}
#api-list > h2:after{
  display:block;
  width:100%;
  position:absolute;
  left:0;
  top:0;
  color:#000;
  white-space:nowrap;
  content:'pocketknife docs';
}
#api-options{
  right:8em;
}
.info-well{
  padding-left:25px;
  position: relative;
  margin-bottom: 10px;
}
.intro code{
  background: #FCFBFA;
  border: 1px solid #EFEEED;
  padding: 0 3px;
}
.info-well:before{
  content: "\f05a";
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 2px;
  color: #7176ce;
  font-size: 20px;
}
.flag.chainable:before{
  content:"\f0c1";
  font-family:FontAwesome;
  margin-right:5px;
}
.flag.optional:before{
  content:"\f05a";
  font-family:FontAwesome;
  margin-right:5px;
}
/*!
 * "Fork me on GitHub" CSS ribbon v0.1.1 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/

/* Left will inherit from right (so we don't need to duplicate code) */
.github-fork-ribbon {
  /* The right and left classes determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set the base colour */
  background-color: #4f9689;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);

  /* Set the font */
  font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;

  z-index: 9999;
  pointer-events: auto;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the text properties */
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need
     to tweak the top and right values in .github-fork-ribbon. */
  width: 200px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;

  /* Add "stitching" effect */
  border-width: 1px 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  pointer-events: none;
}

.github-fork-ribbon-wrapper.fixed {
  position: fixed;
}

.github-fork-ribbon-wrapper.left {
  left: 0;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.left-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  left: 0;
}

.github-fork-ribbon-wrapper.right-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
  top: 42px;
  left: -43px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
  top: 80px;
  left: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
  top: 80px;
  right: -43px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*!
 * "Fork me on GitHub" CSS ribbon v0.1.1 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/

/* IE voodoo courtesy of http://stackoverflow.com/a/4617511/263871 and
 * http://www.useragentman.com/IETransformsTranslator */

 .github-fork-ribbon {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  /* IE positioning hack (couldn't find a transform-origin alternative for IE) */
  /*
  top: -22px;
  right: -62px;
  */
  /* IE8+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
  /* IE6 and 7 */
  filter: progid:DXImageTransform.Microsoft.Matrix(
    M11=0.7071067811865474,
    M12=-0.7071067811865477,
    M21=0.7071067811865477,
    M22=0.7071067811865474,
    SizingMethod='auto expand'
  );
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
  top: -22px;
  left: -22px;

  /* IE8+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
  /* IE6 and 7 */
  filter: progid:DXImageTransform.Microsoft.Matrix(
    M11=0.7071067811865483,
    M12=0.7071067811865467,
    M21=-0.7071067811865467,
    M22=0.7071067811865483,
    SizingMethod='auto expand'
  );
}

.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
  /* IE positioning hack (couldn't find a transform-origin alternative for IE) */
  /*
  top: 12px;
  left: -22px;
  */

  /* IE8+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
  /* IE6 and 7 */
/*  filter: progid:DXImageTransform.Microsoft.Matrix(
    M11=0.7071067811865474,
    M12=-0.7071067811865477,
    M21=0.7071067811865477,
    M22=0.7071067811865474,
    SizingMethod='auto expand'
  );
*/}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
  top: 12px;
  right: -62px;

  /* IE8+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
  /* IE6 and 7 */
  filter: progid:DXImageTransform.Microsoft.Matrix(
    M11=0.7071067811865483,
    M12=0.7071067811865467,
    M21=-0.7071067811865467,
    M22=0.7071067811865483,
    SizingMethod='auto expand'
  );
}
