@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);

@font-size:13px;
@font-color:hsl(221, 16%, 40%);
@font-family:'Raleway';

@item-height:@font-size*2.4;
@item-width:@item-height*10;
@item-rounding:6px; 

@color-background:hsl(0, 0%, 100%);
@color-foreground:hsl(0, 0%, 0%);
@color-highlight:hsl(169, 88%, 40%);
@color-secondary:hsl(179, 88%, 43%);
@color-tertiary:hsl(204, 64%, 44%);

@transition-duration:100ms;





.pk-ui {
    font-family:@font-family;
	color:@font-color;
    font-size: @font-size;
	position:relative;
	line-height:1.5em;
}

.pk-overlay {
    position: fixed;
    background:@color-background;
    left: 0;
    top: 0;
    display: block;
	z-index: 998;
	height:0;
	width:0;
	opacity:0;
	transition:all 0ms ease-in 200ms;
	transition:opacity 150ms ease-in;
}
.pk-overlay.pk-show{
	width:100%;
	height:100%;
	// opacity:0.8;
}
.pk-hide {
    display: none;
}

.pk-noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
