@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

@item-width-inline:300px;

@item-height-large:40px;
@item-height-normal:30px;
@item-height-slim:26px;
@padding-content:10px;
@color-unselected:#f5f5f5;
@color-empty:#ffffff;
@color-border:#e5e5e5;
@color-unselected-hover:#cbefe9;
@color-selected:#0CC09F;
@color-selected-hover:#47e5c8;
@color-disabled:#c4c4c4;
@color-warning:#ff0000;
.pk-ui {
    font-family: 'PT Sans Narrow';
    font-size: 14px;
}

.pk-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
}

.pk-hide {
    display: none;
}

.pk-noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
