@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

.pk-ui {
    font-family: 'PT Sans Narrow';
    font-size: 14px;
}

.pk-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
}

.pk-hide {
    display: none;
}

.pk-noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
