<div class="pk-gridDetail">
    <header class='pk-ctBodyHeader'> 
        <button class='pk-btnGridData pk-toRight' ng-click="$parent.summaryView = !$parent.summaryView"></button>
        <h1 class='pk-title'>Detail View</h1>
    </header>
    <section class='pk-ctBodyContent'>             
        <div ng-repeat="column in columns"style='padding:20px;display:inline-block;'>
            <label>{{column.header}}</label><br />   
            <input type='text' value="{{latestSelection[column.binding]}}"/><br />            
        </div>
    </section>
    <footer class='pk-ctBodyFooter'></footer>
</div>